@media screen and (min-width: 560px) and (max-width: 2000px) {
    /* memberikan default style */
  *{
    /* secara default kita buat margin 0 agar tidak ada jarak pada pinggir halaman web */
    margin: 0;
    /* jenis font kita pilih sans*/
    font-family: Arial, Helvetica, sans-serif;
  }
  .background{
    /* kita setel ketinggian minimal memenuhi layar kita */
    min-height: 100vh;
    /* kita setel background bisa diambil dari komputer lokal kalian atau lewat internet*/
    background:url(image/bg.png);
    background-size: cover;
    padding:40px;
    z-index: 1;
  }

  header h1 {
    color: rgb(175, 182, 189);
    font-family: 'Lobster', cursive;
    text-shadow: -2px 3px 5px rgba(175, 182, 189);
  }

  /* bikin kotak putih yang kita gunakan sebagai kartu */
  .wrapper{
    position: relative;
    width: 300px;
    margin: auto;
    background-color: dodgerblue;
    color: #c7c6c6;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    box-shadow: 0px 0px 5px rgb(191, 194, 196);
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -ms-transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    font-weight:bold;
    padding:20px;
    width:40%;
    background:#8181801e;
    /*background:rgba(red,green,blue,Aplha);
    */filter: blur(5px);
  }

  .wrapper:hover {
    filter: blur(0);
    -webkit-filter: blur(0);
  }


  /* memberikan ukuran gambar */
  img{
    width:100%;
    height: 200px;
    box-shadow: 0px 0px 10px 2px #0000008f;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
  }
  h1 {
    margin-top:10px;
    margin-bottom:0px;
    color: inherit;
    font-family: 'Lobster', cursive;
    text-decoration: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }


  .pesan {
    display: block;
    margin: 15px;
  }


  p{
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 1px;
    /* membuat tulisan ketengah */
    text-align: justify;
    /* megkosongkan jarak keseluruhan */
    margin:0;
    /* memberikan jarak ke atas pada tag p */
    margin-top:10px;
    font-size: 1.2em;
    color: #e7daf0;
  }

  footer {
    background-color: black;
    width: 100%;
    display: flex;
    /*align-items: center;
    */box-sizing: border-box;
    padding-bottom: 10px;
    justify-content: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  footer a {
    display: inline-block;
    line-height: 40px;
    text-decoration: none;
    color: white;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }

  footer a:hover {
    font-size: 1.2em;
  }
 
}


@media (min-width: 100px) and (max-width: 560px) {
  .wrapper {
    width: 90%;
  }
}